<%- include('partials/header'); -%>

<header class="headerhome">
  <div class="headings">
    <h2 >Make A Note , Start A Day</h2>
    <h3>Your day Guide</h3>
    <a href="/todoos" class="btn">Start</a>
  </div>
</header>


<%- include('partials/footer'); -%>